In [1]:
import sagemaker
from sagemaker import get_execution_role
from sagemaker.inputs import TrainingInput
from sagemaker.estimator import Estimator

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sagemaker.session import Session


from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn import metrics, tree
from sklearn.tree import plot_tree
import joblib

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/ec2-user/.config/sagemaker/config.yaml

In [2]:
# Configura tu bucket de S3 y las rutas de tus archivos
role = get_execution_role()
bucket = "api-bucket-cp"
data_key= "clientes-dir/synthetic_customer_data.csv"
data_location = 's3://{}/{}'.format(bucket, data_key)
df=pd.read_csv(data_location)
df.head()

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/fsspec/registry.py:279: UserWarning: Your installed version of s3fs is very old and known to cause
severe performance issues, see also https://github.com/dask/dask/issues/10276

To fix, you should specify a lower version bound on s3fs, or
update the current installation.

  warnings.warn(s3_msg)

,customer_id,age,gender,annual_income,total_spent,num_purchases,avg_purchase_value,online_activity_score,loyalty_program,days_since_last_purchase,num_site_visits,customer_segment
0,CUST_0001,56,Male,65648,49624.926758,17,467.729972,52.525842,0,235,61,medium_value
1,CUST_0002,69,Male,123537,46357.348299,196,874.799829,11.120875,0,182,48,medium_value
2,CUST_0003,46,Male,145991,27043.860801,175,207.419293,86.816930,0,199,50,medium_value
3,CUST_0004,32,Female,29516,42117.461389,25,131.749484,29.736153,0,356,32,medium_value
4,CUST_0005,60,Male,132863,26095.803066,94,289.081236,16.253799,1,245,29,high_value

## Análisis y preprocesamiento de datos
---

In [3]:
# Estructura del dataset
df.shape

(1000, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               1000 non-null   object
 1   age                       1000 non-null   int64
 2   gender                    1000 non-null   object
 3   annual_income             1000 non-null   int64
 4   total_spent               1000 non-null   float64
 5   num_purchases             1000 non-null   int64
 6   avg_purchase_value        1000 non-null   float64
 7   online_activity_score     1000 non-null   float64
 8   loyalty_program           1000 non-null   int64
 9   days_since_last_purchase  1000 non-null   int64
 10  num_site_visits           1000 non-null   int64
 11  customer_segment          1000 non-null   object
dtypes: float64(3), int64(6), object(3)
memory usage: 93.9+ KB

In [5]:
# Valores faltantes
print("Valores nulos en el conjunto de datos:")
df.isnull().sum()

Valores nulos en el conjunto de datos:

customer_id                 0
age                         0
gender                      0
annual_income               0
total_spent                 0
num_purchases               0
avg_purchase_value          0
online_activity_score       0
loyalty_program             0
days_since_last_purchase    0
num_site_visits             0
customer_segment            0
dtype: int64

In [6]:
# Valores duplicados
duplicados = sum(df.duplicated())
print(f'Registros duplicados: {duplicados}')

Registros duplicados: 0

In [7]:
# Valores del programa de fidelización
df['loyalty_program'].unique()

array([0, 1])

In [8]:
# Valores del segmento de clientes
df['customer_segment'].unique()

array(['medium_value', 'high_value', 'low_value'], dtype=object)

In [9]:
segment_counts = df['customer_segment'].value_counts()
segment_counts

medium_value    858
high_value      136
low_value         6
Name: customer_segment, dtype: int64

In [10]:
# Valores de Género
df['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [11]:
low_value_data = df[df['customer_segment'] == 'low_value']
low_value_data

,customer_id,age,gender,annual_income,total_spent,num_purchases,avg_purchase_value,online_activity_score,loyalty_program,days_since_last_purchase,num_site_visits,customer_segment
331,CUST_0332,33,Male,46015,1407.215756,10,409.524000,76.519383,0,326,12,low_value
480,CUST_0481,36,Female,55046,4264.857841,15,442.857756,77.318350,1,329,36,low_value
703,CUST_0704,62,Male,123896,3643.282460,7,198.475406,42.876429,0,224,58,low_value
775,CUST_0776,67,Male,77716,1474.082321,19,28.414832,72.801226,0,286,20,low_value
916,CUST_0917,60,Female,111302,3708.592115,18,805.075191,21.515562,0,135,71,low_value
971,CUST_0972,18,Female,133092,3228.212119,13,552.719418,53.615539,0,57,55,low_value

In [12]:
medium_value_data = df[df['customer_segment'] == 'medium_value']
medium_value_data

,customer_id,age,gender,annual_income,total_spent,num_purchases,avg_purchase_value,online_activity_score,loyalty_program,days_since_last_purchase,num_site_visits,customer_segment
0,CUST_0001,56,Male,65648,49624.926758,17,467.729972,52.525842,0,235,61,medium_value
1,CUST_0002,69,Male,123537,46357.348299,196,874.799829,11.120875,0,182,48,medium_value
2,CUST_0003,46,Male,145991,27043.860801,175,207.419293,86.816930,0,199,50,medium_value
3,CUST_0004,32,Female,29516,42117.461389,25,131.749484,29.736153,0,356,32,medium_value
5,CUST_0006,25,Male,135005,31216.925831,21,533.919510,67.562131,0,352,58,medium_value
...,...,...,...,...,...,...,...,...,...,...,...,...
994,CUST_0995,63,Female,118540,317.727156,54,417.885634,65.083322,1,83,16,medium_value
995,CUST_0996,60,Female,92982,8430.959128,156,731.840015,61.506463,1,15,43,medium_value
996,CUST_0997,64,Male,122747,35680.997927,73,139.678658,17.567210,0,333,44,medium_value
997,CUST_0998,62,Female,75922,33352.632138,120,201.651024,51.318989,0,58,7,medium_value
998,CUST_0999,35,Male,68231,48305.770506,56,184.615637,71.538102,0,176,79,medium_value

In [13]:
high_value_data = df[df['customer_segment'] == 'high_value']
high_value_data

,customer_id,age,gender,annual_income,total_spent,num_purchases,avg_purchase_value,online_activity_score,loyalty_program,days_since_last_purchase,num_site_visits,customer_segment
4,CUST_0005,60,Male,132863,26095.803066,94,289.081236,16.253799,1,245,29,high_value
23,CUST_0024,19,Female,87675,25832.403442,141,453.226179,86.993783,1,97,43,high_value
31,CUST_0032,44,Female,71756,40890.740454,54,730.588569,31.501037,1,280,87,high_value
34,CUST_0035,33,Female,131785,43416.028836,109,377.607998,35.979409,1,189,65,high_value
35,CUST_0036,32,Female,147331,40315.677466,87,372.634524,30.697228,1,151,21,high_value
...,...,...,...,...,...,...,...,...,...,...,...,...
952,CUST_0953,43,Female,125730,41144.486240,157,79.265239,57.721607,1,328,98,high_value
982,CUST_0983,40,Female,118936,39467.730342,62,110.805611,11.115088,1,250,42,high_value
984,CUST_0985,41,Male,145839,21747.489237,171,941.343019,72.687691,1,111,58,high_value
992,CUST_0993,64,Female,119983,31672.322750,144,399.963233,50.275019,1,124,72,high_value
999,CUST_1000,55,Male,49301,38075.785734,65,266.158232,97.326088,1,62,17,high_value

In [14]:
# Corroboramos que los valores de la columna Género se hayan modificado
df.head()

,customer_id,age,gender,annual_income,total_spent,num_purchases,avg_purchase_value,online_activity_score,loyalty_program,days_since_last_purchase,num_site_visits,customer_segment
0,CUST_0001,56,Male,65648,49624.926758,17,467.729972,52.525842,0,235,61,medium_value
1,CUST_0002,69,Male,123537,46357.348299,196,874.799829,11.120875,0,182,48,medium_value
2,CUST_0003,46,Male,145991,27043.860801,175,207.419293,86.816930,0,199,50,medium_value
3,CUST_0004,32,Female,29516,42117.461389,25,131.749484,29.736153,0,356,32,medium_value
4,CUST_0005,60,Male,132863,26095.803066,94,289.081236,16.253799,1,245,29,high_value

## Modelo de Entrenamiento 
---

In [15]:
from sklearn.model_selection import train_test_split

# Convertir etiquetas categóricas a numéricas
label_mapping = {'low_value': 0, 'medium_value': 1, 'high_value': 2}
df['customer_segment'] = df['customer_segment'].map(label_mapping)

# Dividir características (X) y etiquetas (y)
X = df.drop(columns=['customer_segment', 'customer_id','age','gender'])  # Excluye la etiqueta y otras irrelevantes
y = df['customer_segment']

# Dividir los datos en entrenamiento (80%) y prueba (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
import numpy as np
from sklearn.datasets import dump_svmlight_file

# Guardar los datos en formato LIBSVM
dump_svmlight_file(X_train, y_train, "train.libsvm")
dump_svmlight_file(X_test, y_test, "test.libsvm")

print("Archivos train.libsvm y test.libsvm creados.")

Archivos train.libsvm y test.libsvm creados.

In [17]:
# Definir la ubicación en S3
bucket = "api-bucket-cp"
s3_prefix = 'customer-segmentation-xgboost'
session = sagemaker.Session()

train_data_s3 = session.upload_data("train.libsvm", bucket=bucket, key_prefix=s3_prefix)
test_data_s3 = session.upload_data("test.libsvm", bucket=bucket, key_prefix=s3_prefix)

print(f"Datos cargados a S3:\nTrain: {train_data_s3}\nTest: {test_data_s3}")

Datos cargados a S3:
Train: s3://api-bucket-cp/customer-segmentation-xgboost/train.libsvm
Test: s3://api-bucket-cp/customer-segmentation-xgboost/test.libsvm

In [18]:
from sagemaker.estimator import Estimator

xgboost_container = sagemaker.image_uris.retrieve(
    "xgboost",  # Framework
    sagemaker.Session().boto_region_name,  # Región
    version="1.5-1"  # Versión del contenedor
)

xgb = Estimator(
    image_uri=xgboost_container,
    role=sagemaker.get_execution_role(),
    instance_count=1,
    instance_type="ml.m4.xlarge",
    volume_size=5,
    max_run=300,
    output_path=f's3://{bucket}/{s3_prefix}/',
    sagemaker_session=session
)

# Configurar hiperparámetros para clasificación multiclase
xgb.set_hyperparameters(
    objective="multi:softmax",
    num_class=3,  # Tres clases: low, medium, high
    eta=0.1,
    max_depth=5,
    subsample=0.8,
    colsample_bytree=0.8,
    num_round=100
)

# Entrenar el modelo
xgb.fit({"train": train_data_s3, "validation": test_data_s3})

INFO:sagemaker:Creating training-job with name: sagemaker-xgboost-2024-11-19-23-25-26-270

2024-11-19 23:25:28 Starting - Starting the training job...
2024-11-19 23:25:43 Starting - Preparing the instances for training...
2024-11-19 23:26:08 Downloading - Downloading input data...
2024-11-19 23:26:39 Downloading - Downloading the training image......
2024-11-19 23:27:55 Training - Training image download completed. Training in progress.
2024-11-19 23:27:55 Uploading - Uploading generated training model/miniconda3/lib/python3.8/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
[2024-11-19 23:27:50.317 ip-10-2-199-24.ec2.internal:7 INFO utils.py:28] RULE_JOB_STOP_SIGNAL_FILENAME: None
[2024-11-19 23:27:50.340 ip-10-2-199-24.ec2.internal:7 INFO profiler_config_parser.py:111] User has disabled profiler.
[2024-11-19:23:27:50:INFO] Imported framework sagemaker_xgboost_container.training
[2024-11-19:23:27:50:INFO] Failed to parse hyperparameter objective value multi:softmax to Json.
Returning the value itself
[2024-11-19:23:27:50:INFO] No GPUs detected (normal if no gpus installed)
[2024-11-19:23:27:50:INFO] Running XGBoost Sagemaker in algorithm mode
[2024-11-19:23:27:50:INFO] Determined 0 GPU(s) available on the instance.
[2024-11-19:23:27:50:INFO] files path: /opt/ml/input/data/train
[2024-11-19:23:27:50:INFO] files path: /opt/ml/input/data/validation
[2024-11-19:23:27:50:INFO] Single node training.
[2024-11-19:23:27:50:INFO] Train matrix has 800 rows and 8 columns
[2024-11-19:23:27:50:INFO] Validation matrix has 200 rows
[2024-11-19 23:27:50.779 ip-10-2-199-24.ec2.internal:7 INFO json_config.py:92] Creating hook from json_config at /opt/ml/input/config/debughookconfig.json.
[2024-11-19 23:27:50.780 ip-10-2-199-24.ec2.internal:7 INFO hook.py:206] tensorboard_dir has not been set for the hook. SMDebug will not be exporting tensorboard summaries.
[2024-11-19 23:27:50.781 ip-10-2-199-24.ec2.internal:7 INFO hook.py:259] Saving to /opt/ml/output/tensors
[2024-11-19 23:27:50.781 ip-10-2-199-24.ec2.internal:7 INFO state_store.py:77] The checkpoint config file /opt/ml/input/config/checkpointconfig.json does not exist.
[2024-11-19:23:27:50:INFO] Debug hook created from config
[23:27:50] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[0]#011train-mlogloss:0.98096#011validation-mlogloss:0.98746
[2024-11-19 23:27:50.800 ip-10-2-199-24.ec2.internal:7 INFO hook.py:427] Monitoring the collections: metrics
[2024-11-19 23:27:50.802 ip-10-2-199-24.ec2.internal:7 INFO hook.py:491] Hook is writing from the hook with pid: 7
[1]#011train-mlogloss:0.86880#011validation-mlogloss:0.87806
[2]#011train-mlogloss:0.78445#011validation-mlogloss:0.79829
[3]#011train-mlogloss:0.70180#011validation-mlogloss:0.71969
[4]#011train-mlogloss:0.62659#011validation-mlogloss:0.64486
[5]#011train-mlogloss:0.56937#011validation-mlogloss:0.59035
[6]#011train-mlogloss:0.50713#011validation-mlogloss:0.52695
[7]#011train-mlogloss:0.46188#011validation-mlogloss:0.48249
[8]#011train-mlogloss:0.42254#011validation-mlogloss:0.44624
[9]#011train-mlogloss:0.38313#011validation-mlogloss:0.40615
[10]#011train-mlogloss:0.35738#011validation-mlogloss:0.38278
[11]#011train-mlogloss:0.32283#011validation-mlogloss:0.34789
[12]#011train-mlogloss:0.29697#011validation-mlogloss:0.32250
[13]#011train-mlogloss:0.27335#011validation-mlogloss:0.30010
[14]#011train-mlogloss:0.25059#011validation-mlogloss:0.27835
[15]#011train-mlogloss:0.23141#011validation-mlogloss:0.25961
[16]#011train-mlogloss:0.21157#011validation-mlogloss:0.23977
[17]#011train-mlogloss:0.19685#011validation-mlogloss:0.22565
[18]#011train-mlogloss:0.18076#011validation-mlogloss:0.20963
[19]#011train-mlogloss:0.16438#011validation-mlogloss:0.19216
[20]#011train-mlogloss:0.14915#011validation-mlogloss:0.17465
[21]#011train-mlogloss:0.13614#011validation-mlogloss:0.16037
[22]#011train-mlogloss:0.12433#011validation-mlogloss:0.14731
[23]#011train-mlogloss:0.11521#011validation-mlogloss:0.13856
[24]#011train-mlogloss:0.10647#011validation-mlogloss:0.12958
[25]#011train-mlogloss:0.09848#011validation-mlogloss:0.12152
[26]#011train-mlogloss:0.09126#011validation-mlogloss:0.11343
[27]#011train-mlogloss:0.08447#011validation-mlogloss:0.10623
[28]#011train-mlogloss:0.07834#011validation-mlogloss:0.09926
[29]#011train-mlogloss:0.07217#011validation-mlogloss:0.09188
[30]#011train-mlogloss:0.06681#011validation-mlogloss:0.08605
[31]#011train-mlogloss:0.06331#011validation-mlogloss:0.08274
[32]#011train-mlogloss:0.06025#011validation-mlogloss:0.07987
[33]#011train-mlogloss:0.05498#011validation-mlogloss:0.07314
[34]#011train-mlogloss:0.05015#011validation-mlogloss:0.06705
[35]#011train-mlogloss:0.04627#011validation-mlogloss:0.06238
[36]#011train-mlogloss:0.04282#011validation-mlogloss:0.05878
[37]#011train-mlogloss:0.03964#011validation-mlogloss:0.05462
[38]#011train-mlogloss:0.03685#011validation-mlogloss:0.05101
[39]#011train-mlogloss:0.03403#011validation-mlogloss:0.04746
[40]#011train-mlogloss:0.03158#011validation-mlogloss:0.04421
[41]#011train-mlogloss:0.02971#011validation-mlogloss:0.04201
[42]#011train-mlogloss:0.02805#011validation-mlogloss:0.04014
[43]#011train-mlogloss:0.02630#011validation-mlogloss:0.03804
[44]#011train-mlogloss:0.02512#011validation-mlogloss:0.03681
[45]#011train-mlogloss:0.02322#011validation-mlogloss:0.03398
[46]#011train-mlogloss:0.02189#011validation-mlogloss:0.03219
[47]#011train-mlogloss:0.02045#011validation-mlogloss:0.03028
[48]#011train-mlogloss:0.01903#011validation-mlogloss:0.02800
[49]#011train-mlogloss:0.01782#011validation-mlogloss:0.02626
[50]#011train-mlogloss:0.01696#011validation-mlogloss:0.02527
[51]#011train-mlogloss:0.01612#011validation-mlogloss:0.02414
[52]#011train-mlogloss:0.01539#011validation-mlogloss:0.02321
[53]#011train-mlogloss:0.01453#011validation-mlogloss:0.02205
[54]#011train-mlogloss:0.01378#011validation-mlogloss:0.02120
[55]#011train-mlogloss:0.01329#011validation-mlogloss:0.02064
[56]#011train-mlogloss:0.01301#011validation-mlogloss:0.02033
[57]#011train-mlogloss:0.01232#011validation-mlogloss:0.01929
[58]#011train-mlogloss:0.01187#011validation-mlogloss:0.01887
[59]#011train-mlogloss:0.01115#011validation-mlogloss:0.01760
[60]#011train-mlogloss:0.01084#011validation-mlogloss:0.01744
[61]#011train-mlogloss:0.01042#011validation-mlogloss:0.01710
[62]#011train-mlogloss:0.00995#011validation-mlogloss:0.01652
[63]#011train-mlogloss:0.00958#011validation-mlogloss:0.01595
[64]#011train-mlogloss:0.00927#011validation-mlogloss:0.01554
[65]#011train-mlogloss:0.00885#011validation-mlogloss:0.01498
[66]#011train-mlogloss:0.00841#011validation-mlogloss:0.01424
[67]#011train-mlogloss:0.00804#011validation-mlogloss:0.01360
[68]#011train-mlogloss:0.00782#011validation-mlogloss:0.01332
[69]#011train-mlogloss:0.00753#011validation-mlogloss:0.01311
[70]#011train-mlogloss:0.00730#011validation-mlogloss:0.01281
[71]#011train-mlogloss:0.00701#011validation-mlogloss:0.01242
[72]#011train-mlogloss:0.00679#011validation-mlogloss:0.01219
[73]#011train-mlogloss:0.00654#011validation-mlogloss:0.01199
[74]#011train-mlogloss:0.00631#011validation-mlogloss:0.01173
[75]#011train-mlogloss:0.00606#011validation-mlogloss:0.01152
[76]#011train-mlogloss:0.00596#011validation-mlogloss:0.01144
[77]#011train-mlogloss:0.00574#011validation-mlogloss:0.01125
[78]#011train-mlogloss:0.00559#011validation-mlogloss:0.01117
[79]#011train-mlogloss:0.00547#011validation-mlogloss:0.01095
[80]#011train-mlogloss:0.00533#011validation-mlogloss:0.01075
[81]#011train-mlogloss:0.00523#011validation-mlogloss:0.01075
[82]#011train-mlogloss:0.00508#011validation-mlogloss:0.01063
[83]#011train-mlogloss:0.00500#011validation-mlogloss:0.01062
[84]#011train-mlogloss:0.00490#011validation-mlogloss:0.01059
[85]#011train-mlogloss:0.00478#011validation-mlogloss:0.01056
[86]#011train-mlogloss:0.00470#011validation-mlogloss:0.01047
[87]#011train-mlogloss:0.00463#011validation-mlogloss:0.01042
[88]#011train-mlogloss:0.00457#011validation-mlogloss:0.01039
[89]#011train-mlogloss:0.00453#011validation-mlogloss:0.01038
[90]#011train-mlogloss:0.00449#011validation-mlogloss:0.01042
[91]#011train-mlogloss:0.00445#011validation-mlogloss:0.01037
[92]#011train-mlogloss:0.00439#011validation-mlogloss:0.01030
[93]#011train-mlogloss:0.00434#011validation-mlogloss:0.01016
[94]#011train-mlogloss:0.00430#011validation-mlogloss:0.01010
[95]#011train-mlogloss:0.00426#011validation-mlogloss:0.01009
[96]#011train-mlogloss:0.00421#011validation-mlogloss:0.01015
[97]#011train-mlogloss:0.00417#011validation-mlogloss:0.01014
[98]#011train-mlogloss:0.00414#011validation-mlogloss:0.01009
[99]#011train-mlogloss:0.00410#011validation-mlogloss:0.01013

2024-11-19 23:28:08 Completed - Training job completed
Training seconds: 120
Billable seconds: 120

In [19]:
xgb_predictor = xgb.deploy(
    initial_instance_count=1,
    instance_type="ml.t2.medium"
)

print(f"Endpoint name: {xgb_predictor.endpoint_name}")

INFO:sagemaker:Creating model with name: sagemaker-xgboost-2024-11-19-23-29-19-731
INFO:sagemaker:Creating endpoint-config with name sagemaker-xgboost-2024-11-19-23-29-19-731
INFO:sagemaker:Creating endpoint with name sagemaker-xgboost-2024-11-19-23-29-19-731

-------------!Endpoint name: sagemaker-xgboost-2024-11-19-23-29-19-731